.body_da_pagina {
  color: white;
  background-color: #FCBF4A;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.centro_quadro {
  position: fixed;
  background-color: #F67F00;
  padding: 30px;
  border-radius: 5px;
  margin: auto;
  margin-top: -200px;
  margin-left: -200px;
  max-height: auto;
  margin-bottom: 100px;
  width: 400px;
}

.form-area {
  padding-bottom: 15px;
}

.text_box {
  border-radius: 5px;
  background-color: #ffffff;
}



.editar-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.editar-alert-content {

  color: #7289DA;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #0000001a;
}

.editar-alert-content input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.editar-alert-content button {
  padding: 5px 10px;
  margin: 5px;
}

.botao_mais_home {
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

blockquote {
  border-left: 3px solid #ccc;
  padding: 0.63em;
  margin: 1em 20px;
}

.bloquinho_home {
  width: 150px
}

.background {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.info {
  margin-left: -200px;
}