@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&display=swap');

.navbar {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #F67F00;
}
/*
h1 {
    font-family: "Playwrite CL", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
    */